.fare {
  box-sizing: border-box;
  .spendDate {
    margin: 1.08rem;
  }
  .buttons {
    box-sizing: border-box;
    padding: 0.77rem;
    // 仅在移动端和ipad下支持的样式
    @include medias($s) {
      :global(.ant-btn) {
        width: 100%;
      }
    }
  }
}
