.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.54rem;
  .icon {
    width: 10.69rem;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.77rem;
  }
  .submitBtn {
    width: 100%;
    height: 3.08rem;
    margin-top: 1.54rem;
  }
  .help {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
