{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "settings": {
    "react": {
        "pragma": "React",
        "version": "detect"
    }
},
  "plugins": ["react-hooks"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures":{
        "jsx":true
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
