.map {
  box-sizing: border-box;
  padding: 0.77rem;
  // Only Desktop and PC is active
  @include medias(($l, $xl)) {
    box-sizing: border-box;
    padding: 0 10% 0 28%;
    padding-top: 6%;
  }
  .spendDate {
    margin: 1.54rem 0;
    @include medias(($l, $xl)) {
      width: 70%;
    }
  }
  .buttons {
    @include medias(($l, $xl)) {
      padding: 0;
    }
  }
  :global(.ant-btn) {
    width: 100%;
    @include medias(($l, $xl)) {
      width: 70%;
    }
  }
}
