.welcome {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  .message {
    color: $green8;
  }
  .auth {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: $green8;
  }
}
