.edit {
  flex: 1;
  :global(.ant-row) {
    display: block;
  }

  :global(.ant-btn-primary) {
    margin: 2.31rem 0;
  }

  :global(.ant-space .ant-space-item) {
    text-align: left;
    width: 80%;
    @include medias(($l, $xl)) {
      width: 70%;
    }
  }
  :global(.ant-space .ant-space-item:last-child) {
    text-align: left;
    margin-bottom: 1.54rem;
    width: 10%;
    @include medias(($l, $xl)) {
      width: 20%;
    }
  }

  :global(.ant-select-selector) {
    width: 100%;
  }

  :global(.ant-space-align-baseline) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
